/**
 * SPDX-License-Identifier: Apache-2.0
 * See LICENSE file for details.
 *
 * Copyright 2005-2026 the original author or authors.
 */
#banner,
#footer,
#leftcol,
#breadcrumbs,
.docs #toc,
.docs .courtesylinks,
#leftColumn,
#navColumn {
  display: none !important;
}

#bodyColumn,
body.docs div.docs {
  margin: 0 !important;
  border: none !important;
}
